PORT=4000
DATABASE_HOST=localhost
DATABASE_PORT=5434
DATABASE_USER=gis_admin
DATABASE_PASSWORD=SecretPassword123
DATABASE_NAME=gis_agriculture_db
JWT_SECRET=SuperSecretJwtKey2026
PUC_PROVINCE_CODE=ST
PUBLIC_BASE_URL=http://localhost:4000
QR_STORAGE_PATH=./storage/qr
